apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery
  template:
    metadata:
      labels:
        app: discovery
    spec:
      containers:
        - name: discovery
          image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/discovery-server:1.0
          ports:
            - containerPort: 8761
