apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: itransform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: asia-south1-docker.pkg.dev/akproject-486305/microservices-repo/auth-service:1.0

          ports:
            - containerPort: 8084
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://discovery-server:8761/eureka
